{
    "extends": [
        "incredible"
    ],
    "rules": {
        "lines-between-class-members": [ 0, { "exceptAfterSingleLine": true } ]
    },
    "overrides": [
        {
            "files"   : [ "src/errors/*.js" ],
            "rules": {
                "unicorn/filename-case" : [ 0 ]
            }
        }
    ]
}
